* {
    font-family: sans-serif;
}

.centered {
    text-align: center;
}

.buttonRow {
    display: flex;
}

.eventButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: auto;
    height: 75px;
    margin: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border: 2px black solid;
    background: #ff9;
}

.eventButton.activated {
    background: lightblue;
}

.eventButton.success {
    background: #9f9;
}

.eventButton.failed {
    background: #f99;
}
